*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;

}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.user-container{
    background: #a9bdce;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}


.user-container label{
    font-size: 14px;
    margin-right: 1rem;
}

.user-container input{
    border-radius: 3px;
    border:none;
    height: 100%;
}



.display-container{
    flex: 12;
    background: #b2c7d9;
}

.input-container{
    flex: 2;
}

