node_modules
build
dev.js
/p5.js/Amplitude/assets/

threejscourse
/threejscourse
!/portfolio/.idea/
!/portfolio/database.json
!/portfolio/mailConfig.json
!/portfolio/client/build/

portfolio/mailConfig.json
