.detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap : wrap;
    padding:50px;
    font-size:150%;

}

.detail img{
    max-width: 400px;
    width:100%;
    margin:20px;
    height:450px;
    object-fit: contain;
    display: block;
}

.box-detail{
    max-width: 500px;
    width:100%;
    margin:5px 20px;
}

.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-detail h2{
    text-transform: uppercase;
    color:darkblue;

    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.box-detail p{
    line-height: 1.5;
    margin:10px 0 ;
    opacity: 0.8;
}

.box-detail span{
    font-weight: bold;
}

.box-detail .cart{
    background: #333;
    color:#F3A293;
    display: inline-block;
    padding:10px 25px;
    margin-top:10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}